@model KinioApp.Models.Data.Movie

@{
    ViewData["Title"] = "Фильмы";
}

<h3>
    <a class="btn text-dark" asp-action="Index" title="Вернуться к списку">
        <i class="fas fa-arrow-left"></i>
    </a>
    Просмотр фильма
</h3>

<div>
    <h4>Movie</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MovieTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MovieTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CountryMovie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CountryMovie)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YearMovie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YearMovie)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GenreKino)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GenreKino)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DurationMovie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DurationMovie)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartOfRentalMovie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartOfRentalMovie)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndOfRentalMovie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndOfRentalMovie)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RentalCompanyMovie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RentalCompanyMovie)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
